.skills{
    min-height:100vh;
    padding:100px;
    background:#050816;
    text-align:center;
}

.skills h4{
    color:#00E5FF;
    margin-bottom:10px;
}

.skills h2{
    color:white;
    font-size:42px;
    margin-bottom:60px;
}

.skills-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:30px;
}

.skill-card{

    background:#0d1628;

    border:1px solid rgba(0,229,255,.2);

    border-radius:18px;

    padding:40px;

    transition:.35s;

    cursor:pointer;
}

.skill-card span{

    color:white;

    font-size:20px;

    font-weight:600;
}

.skill-card:hover{

    transform:translateY(-10px);

    border-color:#00E5FF;

    box-shadow:0 0 25px rgba(0,229,255,.35);
}