body{
    cursor:none;
}

.custom-cursor{

    position:fixed;

    width:18px;
    height:18px;

    border-radius:50%;

    background:#00E5FF;

    pointer-events:none;

    transform:translate(-50%,-50%);

    z-index:99999;

    box-shadow:
        0 0 10px #00E5FF,
        0 0 25px #00E5FF,
        0 0 40px #00E5FF;

    transition:
        transform .08s linear,
        width .2s,
        height .2s;

}